header{
  background-color: #3C4554;
  height: 80px;
  width: 100%;
  margin-bottom: 10px;
}

body{
  background-image: url("../images/florida_bridge.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 100px;
  padding: 0px;
  font-family: "Freestle scrypt", Helvetica, Arial, sans-serif;
  color: inherit;
}


.container {
  width: 1100px;
  margin: 0 auto;
}
