body{
  background-color:#C8C6AA;
  margin: 0;
  padding: 0;
  font-family: "Freestle scrypt", Helvetica, Arial, sans-serif;
  color: inherit;
}

header{
  background-color: #3C4554;
  height: 80px;
  width: 100%;
  margin-bottom: 10px;
}

.container {
  width: 1100px;
  margin: 0 auto;
}
