<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
        <h1>Currency converter</h1>
    </head>

    <body>
        {errors}
        <form method="post" action=".">
            Enter the rate for euro:
            <p><input name="rate_e" /></p>

            Enter the rate for dollar:
            <p><input name="rate_d" /></p>

            Enter euros quantity:
            <p><input name="euros" /></p>

            Enter dollars quantity:
            <p><input name="dollars" /></p>

            <p><input type="submit" value="Total amount" /></p>

        </form>
    </body>
</html>
