{% extends "layout.html"%}
{% block content%}
<div class="container">
    {errors}
    <h1 class="header-title">Welcome to the currency converter application.</h1>
    <form method="post" action=".">
        <div>Enter the rate for EUR: <input name="rate_e" />  EUR quantity: <input name="euros" /></div>

        <div><p>Enter the rate for USD: <input name="rate_d" />  USD quantity:  <input name="dollars" /></p></div>

        <p><input type="submit" value="Total amount" /></p>

    </form>
</div>
{% endblock %}
